<section class="card">
  <h2>Ejercicio 4</h2>
  <p class="muted">Formulario simple con validación.</p>

<!--   <form [formGroup]="form" (ngSubmit)="submit()" class="form">
    <label>
      Nombre
      <input type="text" formControlName="name" placeholder="Ej. Ana" />
    </label>

    <label>
      Email
      <input type="email" formControlName="email" placeholder="ana@correo.com" />
    </label>

    <button class="btn" type="submit" [disabled]="form.invalid">Enviar</button>
  </form> -->
</section>
